@model TracNghiem.Models.DeThi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeThi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianThi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianThi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDeThi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDeThi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongCauKho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongCauKho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongCauHoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongCauHoi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
