@model TracNghiem.Models.KetQua

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KetQua</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSinhVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSinhVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DapAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DapAn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDeThiCauHoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDeThiCauHoi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
